/*  your css code here. If applicable */
Main{
	background:#f5f5f5;
	padding:0px 5px;
	height:250px
}
.testimonial{
	background:#f5f5f5;
	padding:2px;
	border:solid;
	margin:5px;

}
Author{
	text-align:right;
	font-style:italic;
	
}
